<section class="collection-header section--sm" aria-label="{{ collection.title }}">
  <div class="container">
    <div class="section__header">
      <h1>{{ collection.title }}</h1>
      {%- if collection.description != blank -%}
        <p class="lead">{{ collection.description }}</p>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Header",
  "tag": "div",
  "class": "collection-header-wrapper",
  "settings": [],
  "presets": [{ "name": "Collection Header" }]
}
{% endschema %}
